@*@model List<HomeListViewModel>*@

@using XSözlük.WEBUI.Extensions

<div class="row">
    <div class="col-md-3">

        <vc:titles></vc:titles>
    </div>
    <div class="col-md-9">




        <vc:entries title-id="@ViewBag.id"></vc:entries>






    </div>
</div>